/*CONTACTO*/ 

$formulario__pie--margen: 1em;

#contacto {
    margin: 2em;
      

   .formulario {  /*BEM*/
       display: flex;
       justify-content: center;
       align-items: center;
       flex-direction: column;
       
   }

       .formulario__input--margen {
           margin: 1.25em;
       }
} 

.contacto__titulo {
    color: $color-titulos;
    margin: 1.25em;
    text-align: center;
}

.checkbox {
    text-align: center;
}

.formulario__pie {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

    strong, .checkbox, .formulario__botones {
        margin: $formulario__pie--margen;
    }

   
}