/*footer*/ 

footer {
    
    border-top: 2px solid #bda89c;
    margin: 0;
    background-color: white;


    .redesSociales {
        display: flex;
        flex-flow: row-reverse nowrap;
        justify-content: space-around;
        margin: 15px;
        padding: 10px;

    }

        .redesSociales__icono {  /*BEM*/
            color: #342c20;
            font-size: 2em;
            transition: font-size 1s  /*efecto de transición a las redes sociales*/
        }


        .redesSociales__icono:hover {
             font-size: 40px
        }


    .derechos {

        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        letter-spacing: $espaciado-letras;
     }
}