/*SOBRE MÍ*/ 

$marginText: 15px;

.contexto__texto {
    margin: $marginText;
}

#presentacion {
    h1 {
        margin: $marginText;
        color: $color-titulos;
        text-align: center;
    }
    
    p {
        margin: $marginText;
        background-color: #d9d9d9;
        border-radius: $borde-textos;
        line-height: 22px;
        letter-spacing: $espaciado-letras;
    }
}

#contexto {

    p {
        margin: $marginText;
        background-color: #d9d9d9;
        border-radius: $borde-textos;
        line-height: 22px;
        letter-spacing: $espaciado-letras;
    }


}

#carruselSobreMi {
    display: flex;
    align-items: center;
    justify-content: center;
}
