/*SOBRE MÍ*/ 

$margen-texto: 0.5em 3em;

#presentacion {

    .presentacion__caja {
        border: $borde-textos;
        background-color: #b98879;
        margin: 0;
        width: 100%;
     
    }
        .presentacion__titulo {
            margin: $margen-texto;
            color: $color-titulos;
        
        }
        
        .presentacion__parrafo {
            margin: $margen-texto;
            font-size: 1.25em;
            line-height: 1.37em;
            letter-spacing: $espaciado-letras;
            padding-left: 4em;
            padding-bottom: 1em;
        
        }
}

.bosque-niebla {
        img {
            width: 100%;
        }
}   

#contexto {

    p {
        margin: $margen-texto;
        background-color: #d9d9d9;
        border-radius: $borde-textos;
        line-height: 22px;
        letter-spacing: $espaciado-letras;
    }


}

.contexto__texto__titulo--estilo {
    color: $color-titulos;
    text-align: center;
    text-decoration: none;
}


#carrusel-sobremi {
    display: flex;
    align-items: center;
    justify-content: center;
}

#carouselExampleFade {
    width: 50%;
    margin-left: 15px;
}