/*trabajos*/


.chaco-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: flex-start;
    background-color: #b48b7b;
    border: $borde-textos;
 
}


    .chaco-container__texto {
        margin: 0;
        padding: 1em;
        width: 50%;
        text-align: center;
  
    

        .chaco__titulo {
            color: $color-titulos;
            margin: 1em;

        }

        .chaco__texto--estilo {
            font-size: 1.25em;
            line-height: 1.37em;
            letter-spacing: $espaciado-letras;
            margin: 1em;
            
        }

        a {
            text-decoration: none;
            color: whitesmoke;
            font-size: 1.25em;
            margin: 1em;
        
        }

    }

     .chaco-container__plan {
         border: none;
         width: 50%;

        .chaco-flyer {
        text-align: center;
        }
    } 

   
    #carrusel-trabajos {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    #carouselExampleFade {
        width: 50%;
        padding: 1em;
        margin: 1em;
    }

    .container-asesorias {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        align-items: center;
        text-align: center;
        border: $borde-textos;
        background-color: #b98879;
        width: 100%;
        padding: 3em;
       
    }

    .asesorias__titulo {
        color: $color-titulos;
        width: 25%;
    }

    .asesorias__texto {
        width: 25%;
    }

    .icono-manito {
        font-size: 2.5em;
        color: #775b48;
    }