$fuente: normal 16px 'Kanit', sans-serif;
$color-fondo:#e1dcd5;
$color-titulos: #88665c;
$borde-textos: 2px solid #bda89c;
$espaciado-letras: 3px;

/*#e6e6ff*/



@import "prensa";
@import "footer";
@import "trabajos";
@import "sobremi";
@import "contacto";


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font: $fuente;
    background: $color-fondo;
}

    h1 {
        font-family: 'Cinzel', serif;
    }
    

    .inicio__titulo {   /*BEM*/
        color: $color-titulos;
        text-align: center;
        text-decoration: none;
    }

    #menu {
        width: 100%; 
        margin-bottom: 30px;
        border : none;
    }
        .nav-item {
            color: #c7a29c;
        }


    .inicio__introduccion {

        line-height: 22px;
        letter-spacing: $espaciado-letras;
        margin: 30px;
        background-color:#bda89c;
        border-radius: $borde-textos;
    }
    
    
    .arboles {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 60px;
    }

    
    
    
    .nombre {
    
        display: flex;
        flex-flow: row-reverse nowrap;
        margin: 10px;
        padding: 15px;
    }
    
    
    
    h3 {
    
        display: inline-block;
        width: 33%;
        text-align: center;
        color: #88665c;
    
        }
    
    
    .check:before {
    
        content : '✓';
        color : #88665c;
    
    }	


    $fuente-alternativa: 13px;  /*CONDICIONAL IF*/

    p {
        @if ($fuente-alternativa==13px) {
            font-size: 13px;
        } @else if ($fuente-alternativa==15px) {
            font-size: 15px;
        }
    }


    $colores: #333300, green, red; /*LISTA*/

    $negroParrafo: nth($colores, 1);

    p {
        color: $negroParrafo;
    }

    
    $encabezados: (   /*EACH Y MAPA*/
        h1: 2.5em,
        h2: 1.5em,
        h3: 1.2em,
    );

    @each $encabezado, $size in $encabezados {
        #{$encabezado} {
            font-size: $size;
        }
        
    }




    #sobreMi {     
        width: 100%;  
        display: flex;
        position: sticky;
        margin: 20px;
    }

    #carouselExampleFade {
        width: 50%;
        margin-left: 15px;
    }

    .contexto {  /*BEM*/
        width: 50%;
        margin-right: 15px;
    }

        .contexto__texto {
            text-align: left;
            margin-right: 15px;
        
        }

            .contexto__texto__titulo--estilo {
                color: $color-titulos;
                text-align: center;
                text-decoration: none;
            }

            .contexto__texto__parrafo--bordes {
                background-color: #d9d9d9;
                border-radius: $borde-textos;
            }

     #contacto {
         margin: 15px;
           

        .formulario {  /*BEM*/
            display: flex;
	        justify-content: center;
	        align-items: center;
	        flex-direction: column;
            
        }

            .formulario__input--margen {
                margin: 20px;
            }
    } 
    
    
   
