$fuente: normal 16px 'Kanit', sans-serif;
$color-fondo:#e1dcd5;
$color-titulos: #4c4236;
$borde-textos: 2px solid #b6917f;
$espaciado-letras: 3px;

/*#e6e6ff*/



@import "galeria";
@import "footer";
@import "trabajos";
@import "sobremi";
@import "contacto";


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font: $fuente;
    background: $color-fondo;
    font-size: 16px;
}

    h1 {
        font-family: 'Cinzel', serif;
    }
    

    #menu {
        width: 100%; 
        margin-bottom: 1.87em;
    
    }
        .nav-item {
            color: #c7a29c;
        }

 
    .contenedor-inicio {
        border: $borde-textos;
        background-color: #b98879;
        margin: 0;
        width: 100%;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;

    }

        
        .inicio__titulo {   /*BEM*/
            color: $color-titulos;
            text-decoration: none;
            margin: 1em;
    }


        .inicio__introduccion {

            line-height: 1.37em;
            letter-spacing: $espaciado-letras;
            margin: 1em;
            color: #e6c9b7;
        
        }

    .contenedor-doble {
        border: $borde-textos;
        background-color: #ede8e5;
        margin: 0;
        border-bottom: none;
      
    }
    
    .inicio__frase {
        line-height: 1.37em;
        letter-spacing: $espaciado-letras;
        margin: 0.625em;
        padding: 0.9375em; 

    }

    .contenedor-frase {
        justify-content: center;
        align-items: center;
        background-color: #b98879;
        
    }

        h2 {
            color: $color-titulos;
            
        }
    
    .nombre {
        margin: 0.625em;
        padding: 0.9375em;
        
    }
    
    
    
    .check {
    
        display: inline-block;
        width: 33%;
        text-align: center;
        color: #88665c;
    
        }
    
    
    .check:before {
    
        content : '✓';
        color : #88665c;
    
    }	


    $colores: #333300, green, red; /*LISTA*/

    $negroParrafo: nth($colores, 1);

    p {
        color: $negroParrafo;
    }

    
    $encabezados: (   /*EACH Y MAPA*/
        h1: 2.5em,
        h2: 1.5em,
        h3: 1.2em,
    );

    @each $encabezado, $size in $encabezados {
        #{$encabezado} {
            font-size: $size;
        }
        
    }




    #sobreMi {     
        width: 100%;  
        display: flex;
        position: sticky;
        margin: 20px;
    }

    #carouselExampleFade {
        width: 50%;
        margin-left: 15px;
    }

    .contexto {  /*BEM*/
        width: 50%;
        margin-right: 15px;
    }

        .contexto__texto {
            text-align: left;
            margin-right: 15px;
        
        }

            .contexto__texto__titulo--estilo {
                color: $color-titulos;
                text-align: center;
                text-decoration: none;
            }

            .contexto__texto__parrafo--bordes {
                background-color: #d9d9d9;
                border-radius: $borde-textos;
            }

     
    
    
   
