@charset "UTF-8";
/*#e6e6ff*/
/*prensa*/
.articulos__titulo--centrado {
  text-align: center;
  margin: 20px;
}

iframe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  /*logré centrar el iframe*/
  margin-right: auto;
}

.prensa__titulo {
  text-align: center;
  margin: 15px;
  color: #4c4236;
}

/*footer*/
footer {
  border-top: 2px solid #bda89c;
  margin: 0;
  background-color: white;
}

footer .redesSociales {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-flow: row-reverse nowrap;
          flex-flow: row-reverse nowrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 15px;
  padding: 10px;
}

footer .redesSociales__icono {
  /*BEM*/
  color: #342c20;
  font-size: 32px;
  -webkit-transition: font-size 1s;
  transition: font-size 1s;
}

footer .redesSociales__icono:hover {
  font-size: 40px;
}

footer .derechos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  letter-spacing: 3px;
}

/*trabajos*/
.imagenEnChaco {
  text-align: center;
}

.chaco {
  margin: 15px;
}

.chaco__titulo {
  color: #4c4236;
}

.chaco__texto--estilo {
  letter-spacing: 3px;
}

/*SOBRE MÍ*/
.contexto__texto {
  margin: 15px;
}

#presentacion h1 {
  margin: 15px;
  color: #4c4236;
  text-align: center;
}

#presentacion p {
  margin: 15px;
  background-color: #d9d9d9;
  border-radius: 2px solid #b6917f;
  line-height: 22px;
  letter-spacing: 3px;
}

#contexto p {
  margin: 15px;
  background-color: #d9d9d9;
  border-radius: 2px solid #b6917f;
  line-height: 22px;
  letter-spacing: 3px;
}

#carruselSobreMi {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/*CONTACTO*/
.contacto__titulo {
  color: #4c4236;
  margin: 20px;
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font: normal 16px "Kanit", sans-serif;
  background: #e1dcd5;
  font-size: 16px;
}

h1 {
  font-family: 'Cinzel', serif;
}

#menu {
  width: 100%;
  margin-bottom: 1.87em;
  border: none;
}

.nav-item {
  color: #c7a29c;
}

.contenedor-inicio {
  border: 2px solid #b6917f;
  background-color: #b98879;
  margin: 0;
}

.inicio__titulo {
  /*BEM*/
  color: #4c4236;
  text-decoration: none;
  margin: 1em;
}

.inicio__introduccion {
  line-height: 1.37em;
  letter-spacing: 3px;
  margin: 2em;
  color: #e6c9b7;
}

.nombre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-flow: row-reverse nowrap;
          flex-flow: row-reverse nowrap;
  margin: 10px;
  padding: 15px;
}

.check {
  display: inline-block;
  width: 33%;
  text-align: center;
  color: #88665c;
}

.check:before {
  content: '✓';
  color: #88665c;
}

/*LISTA*/
p {
  color: #333300;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.2em;
}

#sobreMi {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: -webkit-sticky;
  position: sticky;
  margin: 20px;
}

#carouselExampleFade {
  width: 50%;
  margin-left: 15px;
}

.contexto {
  /*BEM*/
  width: 50%;
  margin-right: 15px;
}

.contexto__texto {
  text-align: left;
  margin-right: 15px;
}

.contexto__texto__titulo--estilo {
  color: #4c4236;
  text-align: center;
  text-decoration: none;
}

.contexto__texto__parrafo--bordes {
  background-color: #d9d9d9;
  border-radius: 2px solid #b6917f;
}

#contacto {
  margin: 15px;
}

#contacto .formulario {
  /*BEM*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#contacto .formulario__input--margen {
  margin: 20px;
}
/*# sourceMappingURL=styles.css.map */